<script>
import axios from 'axios'

export default {
    data() {
        return {
            title: 'Gestor de tareas',
            tasks: [],
            task: {
                name: '',
                tags: {
                    php: false,
                    javascript:false,
                    css: false
                }
            }
        }
    },
    mounted() {
        this.getTasks()
    },
    methods:{
        getTasks(){
            axios.get('api/task').then((result) => {

                this.tasks = []
                result.data.forEach(element => {
                    this.tasks.push({
                        id: element.id,
                        name: element.name,
                        tags: JSON.parse(element.tags)
                    })
                });

                this.$forceUpdate()
            })
        },
        createTask(){
            let dataCreate = this.task
            axios.post('api/task', dataCreate)
            .then((result) => {

                this.getTasks()
                this.reseTask()
            })
        },
        deleteTask(id) {
            axios.post(`api/task/${id}`, {_method: 'DELETE'})
            .then((result) => {

                this.getTasks()
            })
        },
        reseTask(){
            this.task = {
                name: '',
                tags: {
                    php: false,
                    javascript:false,
                    css: false
                }
            }

            let checkboxes = this.$el.querySelectorAll('input[type="checkbox"]')
            checkboxes.forEach(element => {
                element.attr('checked', false)
            });

            this.$forceUpdate()
        }
    }
}
</script>

<template>
    <div>
        <h1 class="border-bottom">{{ title }}</h1>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-left algin-items-center">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="task.name" placeholder="Nueva tarea">
                </div>
                <div class="form-group ms-2 d-flex justify-content-center algin-items-center">
                    <div class="form-check ms-2">
                        <label class="form-check-label" for="php">
                            <input type="checkbox" id="php" v-model="task.tags.php">
                            <strong>PHP</strong>
                        </label>
                    </div>
                    <div class="form-check ms-2">
                        <label class="form-check-label" for="javascript">
                            <input type="checkbox" id="javascript" v-model="task.tags.javascript">
                            <strong>Javascript</strong>
                        </label>
                    </div>
                    <div class="form-check ms-2">
                        <label class="form-check-label" for="css">
                            <input type="checkbox" id="css" v-model="task.tags.css">
                            <strong>CSS</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group ms-3">
                    <button class="btn btn-sm btn-primary" @click="createTask">Añadir</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-striped table-hover" v-if="tasks.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">Tarea</th>
                            <th scope="col">Categorías</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="task in tasks" :key="task.id">
                            <td>
                                {{ task.name }}
                            </td>
                            <td>
                                <span v-if="task.tags.php" class="badge bg-success">PHP</span>
                                <span v-if="task.tags.javascript" class="badge bg-secondary ms-1">Javascript</span>
                                <span v-if="task.tags.css" class="badge bg-primary ms-1">CSS</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" @click="deleteTask(task.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
